a {
	text-decoration: none;
	color: #ffffff;
}
.horiz-center-parent {
	text-align: center;
}
.horiz-center-child {
	display: inline-block;
	padding: 10px;
	margin: 10px;
	vertical-align: top;
}
.vert-padding {
	padding: 10% 0;
}
.list {
	display: inline;
}
.list li {
	float: left;
	list-style-type: none;
}
.hover:hover {
	background: #B3636B;
	cursor: pointer;
}
.button-clear {
	padding: 0;
	border: none;
}
.button {
	color: #ffffff;
	background: #ec828a;
	border-radius: 5px;
	display: inline-block;
	padding: 10px 38px;
}
.button-big {
	font-size: 24px;
	padding: 24px 58px;
}
.button-little {
	font-size: 13px;
	padding: 5px 8px;
}
.nav-bar li:first-child {
	border-radius: 5px 0px 0px 5px;
}
.nav-bar li:last-child {
	border-radius: 0px 5px 5px 0px;
}
.nav-bar li {
	background: #ec828a;
	padding: 10px 5.3%;
}
.page-nums {
	margin-right: 10px;
	display: inline-block;
	padding: 5px 10px;
}
.pagination span:only-of-type {
	color: #cccccc;
	border-bottom: 3px solid #cccccc;
}
.pagination li a {
	color: #ec828a;
	border-bottom: 3px solid #ec828a;
}
.pagination li:first-child a,
.pagination li:last-child a {
	border: none;
}
.page-hover:hover {
	color: #B3636B;
}
.post {
	overflow: hidden;
	margin: 15px;
}
.avatar {
	float: left;
	margin-right: 10px;
}
.post-info {
	overflow: hidden;
}
.tabs-content {
	border: 1px solid rgba(170, 170, 221, 1);
	border-radius: 4px;
	padding: 10px 10px 12px 10px;
	position: relative;
	box-sizing: border-box;
	clear: both;
}
.tab-num {
	color: #061fef;
	border: 1px solid rgba(170, 170, 221, 1);
	border-radius: 4px 4px 0px 0px;
	padding: 5px 15px;
	margin-left: 10px;
	display: inline-block;
	position: relative;
	top: 1px;
	z-index: 5;
}
#active {
	border-bottom: 1px solid white;
}